- var pageTitle='Экон тестовое задание'

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title=pageTitle
        link(rel='stylesheet' href='../css/style.css')
        //-link(rel='stylesheet' href='../css/style-mobile.css')
        script(src='../js/slider.js')
    body
        include modules/header
        include modules/banner
        include modules/goods
        include modules/seo
        include modules/footer