.color-regular {
    width: 158px;
    @include flex-container(row, flex-start);
    margin-top: 1.3px;

    p {
        @include font (400, 18px, $dark);
        margin-left: 27px;
        margin-top: 0;
    }

    .circ-color {
        width: 12px;
        height: 12px;
        border-radius: 12px;
        margin-top: 7px;
        margin-left: 4px;
    }

}

.color-active {
    width: 158px;
    @include flex-container(row, flex-start);
    margin-top: 1.3px;

    p {
        @include font (500, 18px, $dark);
        margin-left: 23px;
        margin-top: 0;
        position: relative;
    }

    .circ-color {
        width: 12px;
        height: 12px;
        border-radius: 12px;
        border: 3px solid $white;
        margin-top: 3px;
        margin-left: 4px;
        margin-bottom: 25px;
    }

    .color-red,
    .color-yellow,
    .color-green,
    .color-blue,
    .color-purple,
    .color-pink,
    .color-beige,
    .color-white,
    .color-black,
    .color-gray {
        position: relative;
    }

    .color-red::before,
    .color-yellow::before,
    .color-green::before,
    .color-blue::before,
    .color-purple::before,
    .color-pink::before,
    .color-beige::before,
    .color-white::before,
    .color-black::before,
    .color-gray::before {
        position: absolute;
        background-image: url("../img/color-reset.png");
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
        width: 13px;
        height: 13px;
        top: -5px;
    }

    .color-red::before,
    .color-pink::before  {
        left: calc(116px + 31px);
    }

    .color-yellow::before,
    .color-black::before {
        left: calc(110px + 31px);
    }

    .color-green::before {
        left: calc(117px + 31px);
    }

    .color-blue::before,
    .color-white::before,
    .color-gray::before {
        left: calc(99px + 31px);
    }

    .color-purple::before {
        left: calc(146px + 31px);
    }

    .color-beige::before {
        left: calc(119px + 31px);
    }

}


.color-red {
    background: $red;
}

.color-yellow {
    background: $yellow;
}

.color-green {
    background: $green;
}

.color-blue {
    background: $blue;
}

.color-purple {
    background: $purple;
}

.color-pink {
    background: $pink;
}

.color-beige {
    background: $beige;
}

.color-white {
    background: $white;
}

.color-black {
    background: $black;
}

.color-gray {
    background: $gray-color;
}
