$menu-h: 20px;
$header-h: 70px;
$logo-h: 66px;
$search-h: 54px;
$input-h: 24px;
$img-menu-h: 20px;

header {
    background: $white;
}

.header {
    /*@include flex-container(row, space-between);*/
    height: $header-h;
    width: 415px;
    margin: auto;
    position: relative;
}

.header::before {
    content: '';
    background-image: url("../img/logo-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 193px;
    height: 38px;
    position: absolute;
    top: 13px;
    left: 67px;
}

.feedback,
.logo,
.count-cart-hidden,
.mobile-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    display: none;
}

.search {
    width: 415px;
    height: $search-h;
    margin-top: 20px;
    background: $white-dark;

    img {
        height: $menu-h;
        margin-top: calc($search-h * 0.5 - $menu-h * 0.5);
        margin-left: 20px;
        margin-right: 10px;
    }

    input {
        @include font (450, 15px, $dark);
        vertical-align: bottom;
        border: none;
        background: none;
        height: $input-h;
        margin-top: calc($search-h * 0.5 - $input-h * 0.5);
        width: 318px;
    }

    input:active, input:focus {
        outline: none;
    }

    input::placeholder {
        @include font (450, 15px, $gray-dark);
    }
}

.menu {
    height: $menu-h;
    margin-top: calc($header-h * 0.5 - $menu-h * 0.5);
    margin-left: 20px;
    width: 28px;
}

.header-menu {
    @include flex-container(row, space-between);
    width: 118px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;

    .cart {
        width: 32px;
        position: relative;
    }

    p {
        background: $blue-basic;
        width: 10px;
        height: 10px;
        padding: 1px 1px 5px 5px;
        border-radius: 50%;
        position: absolute;
        top: 20px;
        right: 0;

        @include  font (700, 10px, $white);
    }


    img:nth-child(2) {
        height: 27px;
        margin-top: 21px;
    }

    img:nth-child(3) {
        height: 25px;
        margin-top: 23px;
    }

    .cart img {
        height: 23px;
        margin-top: 24px;
    }

}
