$width: 370px;
$height: 5px;

.container3 {
    margin: 43px auto 0;
}

.value-slider {
    width: 278px;
    @include flex-container(row, space-between);

    p {
        @include font (600, 18px, $dark);
        margin-top: 25px;
    }
}

.slider {
    width: $width;
    height: $height;
    border-radius: calc($height * 0.5);
    background: $slider;
    position: relative;
}

.slider .progress {
    position:absolute;
    left: 0%;
    right: 32%;
    height: $height;
    border-radius: calc($height * 0.5);
    background: $blue-card;
}

.range-input {
    position: relative;

    input {
        position: absolute;
        top: -5px;
        height: $height;
        width: 100%;
        pointer-events: none;
        -webkit-appearance: none;
        background: none;
    }

    input[type=range]::-webkit-slider-thumb {
        height: 22px;
        width: $height;
        border-radius: calc($height * 0.5);
        background: $blue-card;
        -webkit-appearance: none;
        pointer-events: auto;
    }

    input[type=range]::-moz-range-thumb {
        height: 22px;
        width: $height;
        border-radius: calc($height * 0.5);
        background: $blue-card;
        -moz-appearance: none;
        pointer-events: auto;
        border: none;
    }
}