.banner
    img(src="../img/banner.png", alt="Banner")
    .button-banner
        div
            mixin forward
            img(src="../img/forward.svg")
            +forward
            +forward
            +forward
            +forward
