- var titleBanner='Дозаторы и антисептики'
- var textBanner='Устанавливаются в общественных местах для предотвращения распространения вирусов микробов'

.banner
    img(class="picture", src="../img/banner.png", alt="Banner")
    .banner-container
        .text-banner
            p=titleBanner
            p=textBanner
        .button-banner
            div
                mixin forward
                    img(src="../img/forward.svg")

                +forward
                +forward
                +forward
                +forward
            p Подробнее
    
