include first-card
include second-card
include third-card

.cards
    .row-cards
        +first-card
        +second-card(true)
        +third-card
    .row-cards
        +first-card
        +second-card(false)
        +third-card
    .row-cards
        +first-card
        +second-card(true)
        +third-card
    .row-cards
        +first-card
        +second-card(false)
        +third-card
    .row-cards
        +first-card
        +second-card(false)
        +third-card
    