include first-card
include second-card
include third-card

div(class="cards mobile-hidden")
    .row-cards
        +first-card
        +second-card(true)
        +third-card
    .row-cards
        +first-card
        +second-card(false)
        +third-card
    .row-cards
        +first-card
        +second-card(true)
        +third-card
    .row-cards
        +first-card
        +second-card(false)
        +third-card
    .row-cards
        +first-card
        +second-card(false)
        +third-card

div(class="cards-m desktop-hidden")
    .row-cards
        +first-card
        +second-card(true)
    .row-cards
        +first-card
        +first-card
    .row-cards
        +first-card
        +first-card
    .row-cards
        +first-card
        +first-card

div(id="more", class="desktop-hidden")
    p Показать еще
    