
div(class="color-active ", id="red", onclick="red.classList.toggle('color-regular'); red.classList.toggle('color-active');") 
    div(class="circ-color color-red")
    p Красный

div(class="color-active ", id="yellow", onclick="yellow.classList.toggle('color-regular'); yellow.classList.toggle('color-active');") 
    div(class="circ-color color-yellow")
    p Желтый

div(class="color-active ", id="green", onclick="green.classList.toggle('color-regular'); green.classList.toggle('color-active');") 
    div(class="circ-color color-green")
    p Зеленый

div(class="color-active ", id="blue", onclick="blue .classList.toggle('color-regular'); blue .classList.toggle('color-active');") 
    div(class="circ-color color-blue")
    p Синий

div(class="color-active ", id="purple", onclick="purple.classList.toggle('color-regular'); purple.classList.toggle('color-active');") 
    div(class="circ-color color-purple")
    p Фиолетовый

div(class="color-active ", id="pink", onclick="pink.classList.toggle('color-regular'); pink.classList.toggle('color-active');") 
    div(class="circ-color color-pink")
    p Розовый

div(class="color-active ", id="beige", onclick="beige.classList.toggle('color-regular'); beige.classList.toggle('color-active');") 
    div(class="circ-color color-beige")
    p Бежевый

div(class="color-active ", id="white", onclick="white.classList.toggle('color-regular'); white.classList.toggle('color-active');") 
    div(class="circ-color color-white")
    p Белый

div(class="color-active ", id="black", onclick="black.classList.toggle('color-regular'); black.classList.toggle('color-active');") 
    div(class="circ-color color-black")
    p Черный

div(class="color-active ", id="gray", onclick="gray.classList.toggle('color-regular'); gray.classList.toggle('color-active');") 
    div(class="circ-color color-gray")
    p Серый
