footer 
    .top-footer
        ul.footer-contact
            li
                img.logo(src="../img/logo.svg", alt="Logo")
            li.first-second  
                .footer-phone
                    img(src="../img/phone-footer.svg", alt="Logo")
                    p.bold-text +7 (495) 506-36-50
                p.slim-text Пн-Пт: с 08:00 до 19:00
                p.slim-text Сб-Вс: с 08:00 до 16:00
            li
                .footer-email
                    img.icon-footer(src="../img/email-footer.png", alt="Email")
                    p.bold-text office@uconerfo.ru
            li.first-fourth
                p.bold-text Мы в сети
                div
                    img(src="../img/vk.png", alt="Vk")
                    p(class="slim-text vk") ВКонтакте
                    img(src="../img/inst.png", alt="Instagram")
                    p(class="slim-text inst") Instagram
        
        mixin list
            ul.list-footer
                li.bold-text Категории продукции
                li.slim-text Трубчатые радиаторы
                li.slim-text Панельные радиаторы
                li.slim-text Полотенцесушители
                li.slim-text Вертикальные радиаторы
                li.slim-text Дизайн радиаторы
                li.slim-text Внутрипольные конвекторы
                li.slim-text Конвекторы водяные
                li.slim-text Водосберегающая сантехника
                li.slim-text Теплый пол
                li.slim-text Чугунные дизайн радиаторы
                li.slim-text Арматура для радиаторов

        +list
        +list
        ul.list-footer
                li.bold-text Инфонмация
                li.slim-text О компании
                li.slim-text Готовые решения
                li.slim-text Наша продукция
                li.slim-text Цвета
                li.slim-text Сертификаты
                li.slim-text Доставка и оплата
                li.slim-text Контакты

    .bottom-footer
        p.slim-text Copyright © 2014-2020
        p.slim-text Политика конфиденциальности
        p.slim-text Обработка персональной информации
        div 
            p.slim-text Разработано
            img(src="../img/autor.png", alt="Developed by Request Design")
