.container3
    .slider
        .progress
    .range-input
        input.range-min(type="range", min="3000", max="33000", value="3000")
        input.range-max(type="range", min="3000", max="33000", value="23000")
    .value-slider
        p
            |3000
            sup ₽
        p
            |23000
            sup ₽