mixin third-card   
    .one-card
        .img-card3
            img(src="../img/card3.png", alt="Product image")
        .data-card
            p Радиатор биметаллический Royal Thermo PianoForte Bianco Traffico 
            .container5
                p
                    |4250
                    sup ₽
                .add-to-cart
                    img(src="../img/cart-white.png", alt="Add to cart")