@font-face {
  font-family: Euclid-Circular-A, sans-serif;
  src: url("fonts/Euclid-Circular-A/Euclid-Circular-A.ttf");
}
body {
  margin: 0;
  background: #F8FAFA;
}

header {
  background: #ffffff;
}

.desktop-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 1545px;
  margin: auto;
}

.search {
  width: 840px;
  height: 54px;
  margin-top: 23px;
  background: #F6F6F6;
}
.search img {
  height: 20px;
  margin-top: 17px;
  margin-left: 28px;
  margin-right: 10px;
}
.search input {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 15px;
  color: #2B2E34;
  vertical-align: bottom;
  border: none;
  background: none;
  height: 24px;
  margin-top: 15px;
  width: 750px;
}
.search input:active, .search input:focus {
  outline: none;
}
.search input::placeholder {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 15px;
  color: #73737B;
}

.menu {
  height: 20px;
  margin-top: 40px;
  margin-left: 13px;
  cursor: pointer;
}

.logo {
  height: 66px;
  margin-top: 17px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 160px;
}
.header-menu .cart {
  width: 32px;
  position: relative;
}
.header-menu p {
  background: #1dbcd2;
  width: 10px;
  height: 10px;
  padding: 1px 1px 5px 5px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 0;
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: #ffffff;
}
.header-menu .desktop-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}
.header-menu img {
  height: 24px;
  margin-top: 38px;
}

.feedback {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 83px;
  margin-left: auto;
  margin-right: auto;
  width: 1522px;
}
.feedback img {
  height: 27px;
  margin-top: 28px;
  margin-right: 13px;
}
.feedback p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2B2E34;
  margin-top: 28px;
}
.feedback div {
  display: flex;
}

.banner {
  height: 295px;
  background: linear-gradient(to right, #1dbcd1, #3ddcf1);
  position: relative;
}
.banner .picture {
  position: absolute;
  left: 605px;
  bottom: 0;
}
.banner .banner-container {
  width: 1522px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-banner {
  height: 26px;
  width: 180px;
  border-radius: 2px;
  background: #ffffff;
  margin-top: 110px;
  padding: 26px 51px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button-banner div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40px;
}
.button-banner div img:first-child {
  opacity: 20%;
}
.button-banner div img:nth-child(2) {
  opacity: 50%;
}
.button-banner div img:nth-child(3) {
  opacity: 80%;
}
.button-banner p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #2B2E34;
  margin: 0;
}

.text-banner {
  width: 580px;
  margin-top: 73px;
}
.text-banner p:first-child {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 600;
  font-size: 39px;
  color: #ffffff;
  margin: 13px 0;
}
.text-banner p:last-child {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.sections {
  margin-left: auto;
  margin-right: auto;
  width: 1522px;
  padding: 30px 0;
}

.container3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

/*
.container4 {
    @include flex-container(column, space-between);
}
*/
.filter-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1053px;
  height: 85px;
  border-radius: 3px;
  padding: 0 40px;
  background: #F4F4F4;
}
.filter-result .count-goods {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 117px;
}
.filter-result .count-goods p:first-child {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 18px;
  color: #2B2E34;
  margin-top: 30px;
}
.filter-result .count-goods p:last-child {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 16px;
  color: #9F9EAC;
  margin-top: 30px;
}
.filter-result .price-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 226px;
}
.filter-result .price-filter p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 16px;
  color: #9F9EAC;
  margin-top: 30px;
}
.filter-result .price-filter .price-filter-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 170px;
}
.filter-result .price-filter .price-filter-button img {
  height: 10px;
  margin-top: 37px;
}
.filter-result .price-filter .price-filter-button p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 16px;
  color: #2B2E34;
  margin-top: 30px;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}
.header-section p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 15px;
  color: #9F9EAC;
  display: inline;
}
.header-section p:nth-child(3) {
  color: #2B2E34;
}

.title-section {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 40px;
  color: #2B2E34;
  margin: 45px 0 60px;
  letter-spacing: -0.6px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter {
  width: 295px;
  background: #F4F4F4;
  border-radius: 3px;
  padding: 27px 30px;
}
.filter .title-filter {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 22px;
  color: #2B2E34;
  margin: 0;
  display: inline;
}

#reset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 106px;
  height: 30px;
}
#reset p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 16px;
  color: #7E838C;
  margin: 5px 0 0 0;
}
#reset img {
  height: 20px;
  margin-top: 7px;
}

.filter-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 43px;
  margin-top: 40px;
}
.filter-section-header p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 18px;
  color: #2B2E34;
}
.filter-section-header img {
  height: 10px;
  margin-top: 27px;
}

#classificationHidden,
#brandHidden,
#sectionsHidden,
#dictanceHidden,
#heatingAreaSectionsHidden,
#colorSectionsHidden {
  margin-top: 23px;
}

.filter .container2 {
  margin-top: 11px;
}
.filter .checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.filter .checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #2B2E34;
}
.filter .checkbox:checked + label {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #2B2E34;
}
.filter .checkbox + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  margin-right: 20px;
  background: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.filter .checkbox:checked + label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%232B2E34' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.container3 {
  margin: 40px 0 82px;
}

.value-slider {
  width: 278px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.value-slider p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #2B2E34;
  margin-top: 25px;
}

.slider {
  width: 100px;
  height: 3px;
  border-radius: 1.5px;
  background: #dee1e8;
  position: relative;
}

.slider .progress {
  position: absolute;
  left: 0%;
  right: -6%;
  height: 3px;
  border-radius: 1.5px;
  background: #38d3e8;
}

.value-slider {
  width: 278px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.value-slider p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #2B2E34;
  margin-top: 25px;
}

.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  top: -9px;
  height: 3px;
  width: 100%;
  pointer-events: none;
  -webkit-appearance: none;
  background: none;
}
.range-input input[type=range]::-webkit-slider-thumb {
  height: 18px;
  width: 3px;
  border-radius: 1.5px;
  background: #38d3e8;
  -webkit-appearance: none;
  pointer-events: auto;
}
.range-input input[type=range]::-moz-range-thumb {
  height: 18px;
  width: 3px;
  border-radius: 1.5px;
  background: #38d3e8;
  -moz-appearance: none;
  pointer-events: auto;
  border: none;
}

.cards {
  margin-top: 36px;
  height: 2574px;
  width: 1133px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards .row-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.one-card {
  width: 354px;
  height: 486px;
  background: #ffffff;
  border-radius: 2px;
  /* sale */
  position: relative;
}
.one-card .data-card p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 16px;
  color: #2B2E34;
  width: 290px;
  margin: 0 auto 20px;
}
.one-card .data-card .container5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.one-card .data-card .container5 p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #2B2E34;
  margin-top: 20px;
  margin-left: 32px;
  letter-spacing: 2px;
  width: 65px;
}
.one-card .data-card .add-to-cart {
  width: 82px;
  height: 82px;
  background: #38d3e8;
  display: flex;
}
.one-card .data-card .add-to-cart img {
  margin: auto;
  height: 24px;
}
.one-card .img-card {
  height: 338px;
  width: 354px;
}
.one-card .img-card img {
  width: 241px;
  margin-top: 6px;
  margin-left: 56.5px;
  margin-right: 56.5px;
}
.one-card .img-card2 {
  height: 338px;
  width: 354px;
}
.one-card .img-card2 img {
  width: 288px;
  margin-top: 17px;
  margin-left: 33px;
  margin-right: 33px;
}
.one-card .img-card3 {
  height: 338px;
  width: 354px;
}
.one-card .img-card3 img {
  width: 246px;
  margin-top: 37px;
  margin-left: 54px;
  margin-right: 54px;
}
.one-card .price-sale {
  width: 175px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.one-card .price-sale .cancel-price {
  background: none;
  border-bottom: 1px solid #F31B4F;
  width: 68px;
  height: 15px;
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  transform: rotate(-10deg);
  position: relative;
  margin-top: 25px;
}
.one-card .price-sale .cancel-price p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 16px;
  color: #7E838C;
  margin: 26px 0 0 0;
  position: absolute;
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  transform: rotate(10deg);
  width: 68px;
  top: -22px;
  left: 8px;
}
.one-card .sale {
  width: 110px;
  height: 36px;
  background: #F31B4F;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.one-card .sale p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 15px;
  color: #ffffff;
  margin: auto;
}
.one-card .sale img {
  height: 15px;
  margin-top: 10px;
  margin-left: 15px;
}

main {
  margin: 80px auto 190px;
  width: 1100px;
}
main p:nth-child(1) {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #2B2E34;
  margin-bottom: 48px;
}
main p:nth-child(2),
main p:nth-child(3),
main p:nth-child(5),
main p:nth-child(6) {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #2B2E34;
  line-height: 1.6rem;
  margin-bottom: 26px;
  letter-spacing: 0.4px;
}
main p:nth-child(4) {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 550;
  font-size: 21px;
  color: #2B2E34;
  margin-top: 48px;
  margin-bottom: 28px;
}

footer {
  background: #ffffff;
  height: 628px;
  padding-top: 35px;
}
footer .top-footer,
footer .bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1522px;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer .bold-text {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 18px;
  color: #2B2E34;
  letter-spacing: -0.3px;
}
footer .slim-text {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #7E838C;
  letter-spacing: 0.5px;
}
footer .footer-phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 190px;
  margin-top: 30px;
}
footer .footer-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin-top: 38px;
}
footer .first-second .slim-text:nth-child(2) {
  margin: 0;
}
footer .first-second .slim-text:nth-child(3) {
  margin-top: 6px;
}
footer .first-fourth img {
  height: 16px;
  margin-top: 6px;
}
footer .first-fourth p:first-child {
  margin-top: 34px;
}
footer .first-fourth div {
  width: 235px;
}
footer .first-fourth div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .vk {
  margin: 0 14px 0 0px;
}
footer .inst {
  margin: 0;
}
footer .icon-footer {
  height: 17px;
  margin-top: 22px;
}
footer .list-footer li {
  margin-bottom: 11px;
}
footer .list-footer li:nth-child(1) {
  margin: 22px 0 28px;
}
footer .top-footer {
  padding-bottom: 52px;
}
footer .bottom-footer {
  border-top: 1px solid rgba(217, 218, 225, 0.8);
  padding-top: 35px;
  padding-bottom: 48px;
}
footer .bottom-footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
}
footer .bottom-footer img {
  width: 157px;
  height: 33px;
  margin-top: 10px;
}

.color-regular {
  width: 158px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0.3px;
}
.color-regular p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #2B2E34;
  margin-left: 27px;
  margin-top: 0;
}
.color-regular .circ-color {
  width: 10px;
  height: 10px;
  border-radius: 11px;
  margin-top: 7px;
}

.color-active {
  width: 158px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0.3px;
}
.color-active p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #2B2E34;
  margin-left: 23px;
  margin-top: 0;
  position: relative;
}
.color-active .circ-color {
  width: 10px;
  height: 10px;
  border-radius: 11px;
  border: 2px solid #ffffff;
  margin-top: 7px;
}
.color-active .color-red,
.color-active .color-yellow,
.color-active .color-green,
.color-active .color-blue,
.color-active .color-purple,
.color-active .color-pink,
.color-active .color-beige,
.color-active .color-white,
.color-active .color-black,
.color-active .color-gray {
  position: relative;
}
.color-active .color-red::before,
.color-active .color-yellow::before,
.color-active .color-green::before,
.color-active .color-blue::before,
.color-active .color-purple::before,
.color-active .color-pink::before,
.color-active .color-beige::before,
.color-active .color-white::before,
.color-active .color-black::before,
.color-active .color-gray::before {
  position: absolute;
  background-image: url("../img/color-reset.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  width: 10px;
  height: 10px;
  top: 0;
}
.color-active .color-red::before,
.color-active .color-pink::before {
  left: 116px;
}
.color-active .color-yellow::before,
.color-active .color-black::before {
  left: 110px;
}
.color-active .color-green::before {
  left: 117px;
}
.color-active .color-blue::before,
.color-active .color-white::before,
.color-active .color-gray::before {
  left: 99px;
}
.color-active .color-purple::before {
  left: 146px;
}
.color-active .color-beige::before {
  left: 119px;
}

.color-red {
  background: #FF6060;
}

.color-yellow {
  background: #FFDC60;
}

.color-green {
  background: #72E191;
}

.color-blue {
  background: #6070FF;
}

.color-purple {
  background: #A660FF;
}

.color-pink {
  background: #FF60AC;
}

.color-beige {
  background: #EEC3AB;
}

.color-white {
  background: #ffffff;
}

.color-black {
  background: #292929;
}

.color-gray {
  background: #9D9D9D;
}

#red,
#yellow,
#green,
#blue,
#purple,
#pink,
#beige,
#white,
#black,
#gray {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
