/* Gradient */
/* Blue color for cards of goods */
/* */
/* Loupe */
/* Text */
/* Sale */
/* Color palette */
@font-face {
  font-family: Euclid-Circular-A, sans-serif;
  src: url("fonts/Euclid-Circular-A/Euclid-Circular-A.ttf");
}
body {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 1545px;
  margin: auto;
}

.search {
  width: 840px;
  height: 54px;
  margin-top: 23px;
  background: #F6F6F6;
}
.search img {
  height: 20px;
  margin-top: 17px;
  margin-left: 28px;
  margin-right: 10px;
}
.search input {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 15px;
  color: #2B2E34;
  vertical-align: bottom;
  border: none;
  background: none;
  height: 24px;
  margin-top: 15px;
  width: 750px;
}
.search input:active, .search input:focus {
  outline: none;
}
.search input::placeholder {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 15px;
  color: #73737B;
}

.menu {
  height: 20px;
  margin-top: 40px;
  margin-left: 13px;
}

.logo {
  height: 66px;
  margin-top: 17px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 160px;
}
.header-menu .cart {
  width: 32px;
  position: relative;
}
.header-menu p {
  background: #1dbcd2;
  width: 10px;
  height: 10px;
  padding: 1px 1px 5px 5px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 0;
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: #ffffff;
}
.header-menu img {
  height: 24px;
  margin-top: 38px;
}

.feedback {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 83px;
  margin-left: auto;
  margin-right: auto;
  width: 1522px;
}
.feedback img {
  height: 27px;
  margin-top: 28px;
  margin-right: 13px;
}
.feedback p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2B2E34;
  margin-top: 28px;
}
.feedback div {
  display: flex;
}

.banner {
  height: 295px;
  background: linear-gradient(to right, #1dbcd1, #3ddcf1);
  position: relative;
}
.banner .picture {
  position: absolute;
  left: 605px;
  bottom: 0;
}
.banner .banner-container {
  width: 1522px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-banner {
  height: 26px;
  width: 180px;
  border-radius: 2px;
  background: #ffffff;
  margin-top: 110px;
  padding: 26px 51px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button-banner div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40px;
}
.button-banner div img:first-child {
  opacity: 20%;
}
.button-banner div img:nth-child(2) {
  opacity: 50%;
}
.button-banner div img:nth-child(3) {
  opacity: 80%;
}
.button-banner p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #2B2E34;
  margin: 0;
}

.text-banner {
  width: 580px;
  margin-top: 73px;
}
.text-banner p:first-child {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 600;
  font-size: 39px;
  color: #ffffff;
  margin: 13px 0;
}
.text-banner p:last-child {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
