@font-face {
  font-family: Euclid-Circular-A, sans-serif;
  src: url("fonts/Euclid-Circular-A/Euclid-Circular-A.ttf");
}
body {
  margin: 0;
  background: #F8FAFA;
}

.desktop-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}

header {
  background: #ffffff;
}

.header {
  /*@include flex-container(row, space-between);*/
  height: 70px;
  width: 415px;
  margin: auto;
  position: relative;
}

.header::before {
  content: "";
  background-image: url("../img/logo-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 193px;
  height: 38px;
  position: absolute;
  top: 13px;
  left: 67px;
}

.feedback,
.count-cart-hidden,
.mobile-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}

.search {
  width: 415px;
  height: 54px;
  margin-top: 20px;
  background: #F6F6F6;
}
.search img {
  height: 20px;
  margin-top: 17px;
  margin-left: 20px;
  margin-right: 10px;
}
.search input {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 15px;
  color: #2B2E34;
  vertical-align: bottom;
  border: none;
  background: none;
  height: 24px;
  margin-top: 15px;
  width: 318px;
}
.search input:active, .search input:focus {
  outline: none;
}
.search input::placeholder {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 15px;
  color: #73737B;
}

.menu {
  height: 20px;
  margin-top: 25px;
  margin-left: 20px;
  width: 28px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 118px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
}
.header-menu .cart {
  width: 32px;
  position: relative;
}
.header-menu p {
  background: #1dbcd2;
  width: 10px;
  height: 10px;
  padding: 1px 1px 5px 5px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 0;
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: #ffffff;
}
.header-menu img:nth-child(2) {
  height: 27px;
  margin-top: 21px;
}
.header-menu img:nth-child(3) {
  height: 25px;
  margin-top: 23px;
}
.header-menu .cart img {
  height: 23px;
  margin-top: 24px;
}

.banner {
  height: 505px;
  background: linear-gradient(to bottom, #1dbcd1, #3ddcf1);
  position: relative;
  margin-top: 54px;
  overflow-x: hidden;
}
.banner .picture {
  position: absolute;
  left: -130px;
  bottom: 0;
  width: 599px;
}
.banner .banner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-banner {
  height: 2px;
  width: 160px;
  border-radius: 2px;
  background: #ffffff;
  margin: 42px auto 0;
  padding: 16px 40px 36px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button-banner div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40px;
  margin-top: 3px;
}
.button-banner div img {
  width: 14px;
  height: 14px;
}
.button-banner div img:first-child {
  opacity: 20%;
}
.button-banner div img:nth-child(2) {
  opacity: 50%;
}
.button-banner div img:nth-child(3) {
  opacity: 80%;
}
.button-banner p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #2B2E34;
  margin: 0;
  letter-spacing: 0.8px;
}

.text-banner {
  width: 354px;
  margin: 29px auto 0;
  text-align: center;
}
.text-banner p:first-child {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #ffffff;
  margin: 13px 0;
}
.text-banner p:last-child {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.6px;
  width: 312px;
  margin-left: 20px;
}

.sections .title-section {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #2B2E34;
  margin: 70px auto 0;
  width: 370px;
}
.sections .count-goods {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 114px;
  margin-left: 24px;
  margin-top: 10px;
}
.sections .count-goods p:first-child {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #2B2E34;
}
.sections .count-goods p:nth-child(2) {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #9F9EAC;
}
.sections .count-goods p {
  margin: 0;
}
.sections .price-filter-m {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 372px;
  height: 88px;
  border-radius: 3px;
  background: #F4F4F4;
  margin: 30px auto 0;
}
.sections .price-filter-button {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 550;
  font-size: 16px;
  color: #2B2E34;
  height: 10px;
  margin-top: 33px;
  width: 145px;
  position: relative;
}
.sections .price-filter-button::after {
  content: "";
  background-image: url(../img/show.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 13px;
  position: absolute;
  top: 7px;
  left: 110px;
}
.sections #filter-open {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 550;
  font-size: 16px;
  color: #2B2E34;
  position: relative;
  margin-left: 45px;
  margin-top: 33px;
}
.sections #filter-open::before {
  content: "";
  background-image: url(../img/filter.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 19px;
  height: 21px;
  position: absolute;
  top: -2px;
  left: -30px;
}
.sections .container3 {
  margin: 0;
}

.filter {
  width: 375px;
  background: #F4F4F4;
  border-radius: 3px;
  padding: 60px 20px 0;
  position: absolute;
  top: 0;
  left: 0;
}
.filter .title-filter {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #2B2E34;
  margin: 0;
  display: inline;
}
.filter .button-banner {
  background: #38d3e8;
  width: 137px;
  padding-left: 25px;
  position: absolute;
  bottom: 34px;
  left: 22px;
}
.filter .button-banner P {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
}
.filter .button-banner div {
  width: 31px;
  margin-top: 7px;
}
.filter .button-banner img {
  height: 10px;
  width: 10px;
}

#color-section-hidden {
  margin-bottom: 0;
}

.white-section {
  width: 415px;
  height: 115px;
  background: #ffffff;
  position: absolute;
  bottom: -95px;
  left: 0;
}

#reset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 106px;
  height: 30px;
  position: absolute;
  bottom: 0;
  bottom: -48px;
  z-index: 2;
  right: 40px;
}
#reset p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 16px;
  color: #7E838C;
  margin: 5px 0 0 0;
  letter-spacing: 0.6px;
}
#reset img {
  height: 20px;
  margin-top: 7px;
}

.filter-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 43px;
  margin-top: 28px;
}
.filter-section-header p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #2B2E34;
  letter-spacing: 0.4px;
}
.filter-section-header img {
  height: 10px;
  margin-top: 27px;
}

#classification-hidden,
#brand-hidden,
#sections-hidden,
#dictance-hidden,
#heating-area-sections-hidden,
#color-sections-hidden {
  margin-top: 38px;
  margin-bottom: 37px;
}

.filter .container2 {
  margin-top: 16px;
}
.filter .checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.filter .checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2B2E34;
}
.filter .checkbox:checked + label {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #2B2E34;
}
.filter .checkbox + label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  margin-right: 22px;
  background: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.filter .checkbox:checked + label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%232B2E34' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.container3 {
  margin: 50px 0 96px;
}

.slider {
  width: 370px;
  height: 5px;
  border-radius: 2.5px;
  background: #dee1e8;
  position: relative;
}

.slider .progress {
  position: absolute;
  left: 25%;
  right: 25%;
  height: 5px;
  border-radius: 2.5px;
  background: #38d3e8;
}

.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  pointer-events: none;
  -webkit-appearance: none;
  background: none;
}
.range-input input[type=range]::-webkit-slider-thumb {
  height: 22px;
  width: 5px;
  border-radius: 2.5px;
  background: #38d3e8;
  -webkit-appearance: none;
  pointer-events: auto;
}
.range-input input[type=range]::-moz-range-thumb {
  height: 22px;
  width: 5px;
  border-radius: 2.5px;
  background: #38d3e8;
  -moz-appearance: none;
  pointer-events: auto;
  border: none;
}

.color-regular {
  width: 158px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1.3px;
}
.color-regular p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2B2E34;
  margin-left: 27px;
  margin-top: 0;
}
.color-regular .circ-color {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  margin-top: 7px;
  margin-left: 4px;
}

.color-active {
  width: 158px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1.3px;
}
.color-active p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #2B2E34;
  margin-left: 23px;
  margin-top: 0;
  position: relative;
}
.color-active .circ-color {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 3px solid #ffffff;
  margin-top: 3px;
  margin-left: 4px;
  margin-bottom: 25px;
}
.color-active .color-red,
.color-active .color-yellow,
.color-active .color-green,
.color-active .color-blue,
.color-active .color-purple,
.color-active .color-pink,
.color-active .color-beige,
.color-active .color-white,
.color-active .color-black,
.color-active .color-gray {
  position: relative;
}
.color-active .color-red::before,
.color-active .color-yellow::before,
.color-active .color-green::before,
.color-active .color-blue::before,
.color-active .color-purple::before,
.color-active .color-pink::before,
.color-active .color-beige::before,
.color-active .color-white::before,
.color-active .color-black::before,
.color-active .color-gray::before {
  position: absolute;
  background-image: url("../img/color-reset.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  width: 13px;
  height: 13px;
  top: -5px;
}
.color-active .color-red::before,
.color-active .color-pink::before {
  left: 147px;
}
.color-active .color-yellow::before,
.color-active .color-black::before {
  left: 141px;
}
.color-active .color-green::before {
  left: 148px;
}
.color-active .color-blue::before,
.color-active .color-white::before,
.color-active .color-gray::before {
  left: 130px;
}
.color-active .color-purple::before {
  left: 177px;
}
.color-active .color-beige::before {
  left: 150px;
}

.color-red {
  background: #FF6060;
}

.color-yellow {
  background: #FFDC60;
}

.color-green {
  background: #72E191;
}

.color-blue {
  background: #6070FF;
}

.color-purple {
  background: #A660FF;
}

.color-pink {
  background: #FF60AC;
}

.color-beige {
  background: #EEC3AB;
}

.color-white {
  background: #ffffff;
}

.color-black {
  background: #292929;
}

.color-gray {
  background: #9D9D9D;
}

.cards-m {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 372px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 38px;
}
.cards-m .row-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 14px;
}

#more {
  width: 105px;
  border-bottom: 2px solid #2B2E34;
  margin: 36px auto 120px;
}
#more p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 15px;
  color: #2B2E34;
  margin: 0;
}

.one-card {
  width: 177px;
  height: 281px;
  background: #ffffff;
  border-radius: 2px;
  /* sale */
  position: relative;
}
.one-card .data-card p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 14px;
  color: #2B2E34;
  width: 150px;
  margin: 0 auto 20px;
}
.one-card .data-card .container5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.one-card .data-card .container5 p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #2B2E34;
  margin-top: 2px;
  margin-left: 13.5px;
  letter-spacing: 2px;
  width: 65px;
}
.one-card .data-card .add-to-cart {
  width: 44px;
  height: 44px;
  background: #38d3e8;
  display: flex;
}
.one-card .data-card .add-to-cart img {
  margin: auto;
  height: 19px;
}
.one-card .img-card {
  height: 160px;
  width: 177px;
}
.one-card .img-card img {
  width: 121px;
  margin-top: 6px;
  margin-left: 28px;
  margin-right: 28px;
}
.one-card .img-card2 {
  height: 160px;
  width: 177px;
}
.one-card .img-card2 img {
  width: 152px;
  margin-top: 17px;
  margin-left: 12.5px;
  margin-right: 12.5px;
}
.one-card .price-sale {
  width: 127px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.one-card .price-sale .cancel-price {
  background: none;
  border-bottom: 1px solid #F31B4F;
  width: 58px;
  height: 12px;
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  transform: rotate(-10deg);
  position: relative;
  margin-top: 2px;
  margin-left: 9px;
}
.one-card .price-sale .cancel-price p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 13px;
  color: #7E838C;
  margin: 26px 0 0 0;
  position: absolute;
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  transform: rotate(10deg);
  width: 68px;
  top: -22px;
  left: 8px;
}
.one-card .sale {
  width: 79px;
  height: 29px;
  background: #F31B4F;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.one-card .sale p {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 12px;
  color: #ffffff;
  margin: auto;
}
.one-card .sale img {
  height: 12px;
  margin-top: 10px;
  margin-left: 7px;
}

footer {
  background: #ffffff;
  height: 1988px;
}
footer .logo {
  height: 66px;
  margin-top: 50px;
}
footer .top-footer,
footer .bottom-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 374px;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer .bold-text {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 450;
  font-size: 18px;
  color: #2B2E34;
  letter-spacing: -0.3px;
}
footer .slim-text {
  font-family: Euclid-Circular-A, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #7E838C;
  letter-spacing: 0.5px;
}
footer .footer-phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 190px;
  margin-top: 10px;
}
footer .footer-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin-top: 26px;
}
footer .first-second .slim-text:nth-child(2) {
  margin: 0;
}
footer .first-second .slim-text:nth-child(3) {
  margin-top: 9px;
}
footer .first-fourth {
  margin-bottom: 24px;
}
footer .first-fourth img {
  height: 16px;
  margin-top: 6px;
  margin-bottom: 15px;
}
footer .first-fourth p:first-child {
  margin-top: 15px;
}
footer .first-fourth div {
  width: 235px;
}
footer .first-fourth div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .vk {
  margin: 0 14px 0 0px;
}
footer .inst {
  margin: 0;
}
footer .icon-footer {
  height: 17px;
  margin-top: 22px;
}
footer .list-footer li {
  margin-bottom: 11px;
}
footer .list-footer li:nth-child(1) {
  margin: 22px 0 20px;
}
footer .list-footer:nth-child(2) li:first-child {
  margin: 26px 0 20px;
}
footer .top-footer {
  padding-bottom: 52px;
}
footer .bottom-footer {
  border-top: 1px solid rgba(217, 218, 225, 0.8);
  padding-top: 43px;
  padding-bottom: 39px;
}
footer .bottom-footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  margin-top: 30px;
}
footer .bottom-footer img {
  width: 157px;
  height: 33px;
  margin-top: 10px;
}

/*# sourceMappingURL=style-mobile.css.map */
