$banner-h: 295px;

.banner {
    height: $banner-h;
    background: linear-gradient(to right, $blue-dark, $blue-light);
    position: relative;

    .picture {
        position: absolute;
        left: 605px;
        bottom: 0;
    }

    .banner-container {
        width: 1522px;
        margin-left: auto;
        margin-right: auto;
        @include flex-container(row, space-between);
    }
}

$button-h: 78px;

.button-banner {
    height: calc($button-h - 26px * 2);
    width: calc(282px - 51px *2);
    border-radius: 2px;
    background: $white;
    margin-top: 110px;
    padding: 26px 51px;
    cursor: pointer;
    @include flex-container(row, space-between);

    div {
        @include flex-container(row, space-between);
        width: 40px;

        img:first-child {
            opacity: 20%;
        }

        img:nth-child(2) {
            opacity: 50%;
        }

        img:nth-child(3) {
            opacity: 80%;
        }
    }

    p {
        @include font(500, 18px, $dark);
        margin: 0;
    }
}

.text-banner {
    width: 580px;
    margin-top: 73px;

    p:first-child {
        @include font(600, 39px, $white);
        margin: 13px 0;
    }

    p:last-child {
        @include font(400, 18px, $white);
    }
}