.container {
    @include flex-container(row, space-between);
}

.filter {
    width: calc(355px - 30px * 2);
    background: $gray-light;
    border-radius: 3px;
    padding: 27px 30px;

    .title-filter {
        @include font (450, 22px, $dark);
        margin: 0;
        display: inline;
    }

}

#reset {
    @include flex-container(row, space-between);
    width: 106px;
    height: 30px;

    p {
        @include font (450, 16px, $gray-pale);
        margin: 5px 0 0 0;
    }

    img {
        height: 20px;
        margin-top: 7px;
    }
    
}

.filter-section-header {
    @include flex-container(row, space-between);
    height: 43px;
    margin-top: 40px;

    p {
        @include font (450, 18px, $dark);
    }

    img {
        height: 10px;
        margin-top: 27px;
    }
}

#classification-hidden,
#brand-hidden,
#sections-hidden,
#dictance-hidden,
#heating-area-sections-hidden,
#color-sections-hidden {
    margin-top: 23px;
}

.filter {
    .container2 {
        margin-top: 11px;
    }

    .checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
          
    }
    
    .checkbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        @include font (400, 15px, $dark);
    }
    
    .checkbox:checked+label {
        @include font (500, 15px, $dark);
    }
    
    .checkbox+label::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        flex-grow: 0;
        border: none;
        margin-right: 20px;
        background: $white;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }
    
    .checkbox:checked+label::before {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%232B2E34' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
}