.sections {
    margin-left: auto;
    margin-right: auto;
    width: 1522px;
    padding: 30px 0;
}

.container3 {
    @include flex-container(row, space-between);
    align-items: flex-start;
}

/*
.container4 {
    @include flex-container(column, space-between);
}
*/


$filter-result-w: 1133px;
$filter-result-h: 85px;

.filter-result {
    @include flex-container(row, space-between);
    width: calc($filter-result-w - 40px * 2);
    height: $filter-result-h;
    border-radius: 3px;
    padding: 0 40px;
    background: $gray-light;

    .count-goods {
        @include flex-container(row, space-between);
        width: 117px;

        p:first-child {
            @include font (450, 18px, $dark);
            margin-top: 30px;
        }

        p:last-child {
            @include font (450, 16px, $gray);
            margin-top: 30px;
        }
    }

    .price-filter {
        @include flex-container(row, space-between);
        width: 226px;

        p {
            @include font (450, 16px, $gray);
            margin-top: 30px;
        }

        .price-filter-button {
            @include flex-container(row, space-between);
            width: 170px;

            img {
                height: 10px;
                margin-top: 37px;
            }

            p {
                @include font (450, 16px, $dark);
                margin-top: 30px;
            }
        }
    }
}

.header-section {
    @include flex-container(row, space-between);
    width: 300px;

    p {
        @include font (450, 15px, $gray);
        display: inline;
    }

    p:nth-child(3) {
        color: $dark;
    }
}

.title-section {
    @include font (450, 40px, $dark);
    margin: 45px 0 60px;
    letter-spacing: -0.6px;
}