$blue-basic: #1dbcd2 !default;
$blue-light: #3ddcf1 !default;
$blue-dark: #1dbcd1 !default;
$blue-card: #38d3e8 !default;
$white: #ffffff !default;
$white-dark: #F6F6F6 !default;
$dark: #2B2E34 !default;
$gray-dark: #73737B !default;
$gray: #9F9EAC !default;
$gray-light: #F4F4F4 !default;
$gray-pale: #7E838C !default;
$red-sale: #F31B4F !default;
$red: #FF6060 !default;
$yellow: #FFDC60 !default;
$green: #72E191 !default;
$blue: #6070FF !default;
$purple: #A660FF !default;
$pink: #FF60AC !default;
$beige: #EEC3AB !default;
$black: #292929 !default;
$gray-color: #9D9D9D !default;
$slider: #dee1e8 !default;
$bg-goods: #F8FAFA !default;
$line-footer: rgba(217, 218, 225, 0.8) !default;

@font-face {
  font-family: Euclid-Circular-A, sans-serif;
  src: url("fonts/Euclid-Circular-A/Euclid-Circular-A.ttf");
}
